<div class="header-main">
    <div class="content">
        <div class="logo" (click)="RedirectToHome()">
            <img src="https://crocobet.com/assets/icons/logo.svg" alt="crocobet">
        </div>
        <div class="date">
            <span> {{ currentDate() | date:'medium'}}</span>
        </div>
    </div>
    <div class="hamburger-menu" (click)="ToggleMenu(); ToggleOverlay()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    @if (menuIsActive()){
        <app-navigation class="nav"></app-navigation>
    }
</div>