
// Background Colors
$primaryBgColor: #00141e;
$secondaryBgColor: #001e28;
$WhiteBgColor: #ffffff;

// Font Colors
$primaryFontColor: #4c4c4c;
$secondaryFontColor: #7c7d80;

// Z-Index Variables
$z-header: 100;
$z-overlay: 50;
