<div class="main-content">
    <section>
        <div class="table-container">
            <table>
                <tbody>
                    <tr *ngFor="let user of userList(); trackBy: trackByID">
                        <td class="table-data-odd">
                            <span class="display-flex-center">
                                {{ user.name }} 
                                <button class="todo-icon" (click)="redirectToUserToDo(user.id)"><i class="fa-solid fa-list-ul"></i></button>
                            </span>
                        </td>
                        <td class="table-data-even">{{ user.phone }}</td>
                        <td class="table-data-odd">{{ user.email }}</td>
                        <td class="table-data-even">{{ user.company.name }}</td>
                        <td class="table-data-odd">
                            <!-- <button class="text-button" (click)="redirectToUserPosts(user.id)">Posts</button> -->
                            <button class="post-icon" (click)="redirectToUserPosts(user.id)"><i class="fa-solid fa-newspaper"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <div class="table-container">
            <table>
                <tbody>
                    <tr *ngFor="let post of postListWithUserName(); trackBy: trackByID">
                        <td class="table-data-odd">{{ post.userName }}</td>
                        <td class="table-data-even">{{ post.title }}</td>
                        <td class="table-data-odd">
                            <button (click)="togglePostPopUp(post.title, post.body)">Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    @if (postDetailsPopUp()) {
        <app-post-modal 
        (close)="closePostPopUp($event)"
        [postTitle]="selectedPostTitle"
        [postDescription]="selectedPostDescription">
    </app-post-modal>
    }
</div>