@use './styles/variables' as *;
@use './styles/fonts' as *;
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $robotoRegular;
}

body, html {
  background-color: $primaryBgColor; // your dark background
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}